/*
* @Author: lenovo
* @Date:   2018-12-20 18:58:09
* @Last Modified by:   lenovo
* @Last Modified time: 2018-12-23 11:44:45
*/
.container {
    width: 100%;
	height: 100%;
	border: 1px solid #000;
	/* overflow: hidden; */
	background: url("../imgs/beijing.jpg") no-repeat;
	background-size: 100% 100% ;				
}
.left_box {
  /* width: 331px; */
  width: 25%;
  height: 100%;
  /* height: 602px; */
  /* margin-left: 8px; */
  margin-top: 7px;
  overflow: hidden;
  /* border: 1px solid red; */
}
.Band_usage ,.Time_Delay , .Packet_Loss{
  width: 97%;
  margin: 0 auto;
  /* height: 187px; */
  height: 30%;
  /* border: 1px solid yellow; */
}
.left_box .box {
	/* height: 15%; */
}
.Time_Delay , .Packet_Loss {
	margin-top: 6%;
}
.l_title1 {
	color: #4b6775;
	margin-right: 3%;
	margin-top: 2%;
	/* margin-right: 9px; */
	font-size: 16px;
	font-family: Microsoft yahei;
}
#echart1 {
	/* width: 304px; */
	width: 90%;
	/* height: 184px; */
	height: 90%;
	margin-left: 10px;
	/* float: right; */
	/* margin-right: 125px; */
	/* margin-top: 0px; */
	/* border: 1px solid yellow; */
} 
#echart1 table {
	margin-left: 12px;
}
.Time_Delay {
	/* width: 331px; */
  	/* height: 187px; */
  	/* margin-top: 20px; */
  	/* border: 1px solid yellow; */
}
#echart2 {
	/* width: 304px; */
	width: 90%;
	/* height: 184px; */
	height: 90%;
	margin-left: 10px;
	/* margin-top: 2px; */
}
#echart2 table {
	margin-left: 12px;
}
#echart3 {
	/* width: 304px; */
	width: 90%;
	/* height: 184px; */
	height: 90%;
	margin-left: 2%;
	/* margin-top: 2px; */
}
#echart3 table {
	/* margin-left: 12px; */
}
#echart3 #main3 {
	margin-left: 5px;
}
.Packet_Loss {
	/* width: 331px; */
  	height: 187px;
  	/* margin-top: 15px; */
  	/* border: 1px solid yellow; */
}
.center_box {
	/* width: 670px; */
	width: 50%;
	height: 622px;
	background-color: #071019;
	opacity: 0.8;
}
.center_box .c_title {
	background-color: #071019;
	/* background-color: red; */
	/* height: 30px; */
	height: 6%;
	width: 100%;
	position: relative;
}
.center_box .c_title #showTime {
	/* margin: 0  3%; */
	/* background-color: #fff; */
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.center_box #main{
	 /* position: absolute;
	z-index: -1;  */
	margin-top: 0;
}
.center_box .c_title .l_bar , .r_bar {
	width: 30%;
	height: 10px;
	margin-top: 10px;
}
.center_box .c_title .l_bar {
	/* width: 200px; */
	/* width: 30%; */
    /* height: 10px; */
    margin-left: 4%;
    /* margin-top: 10px; */
    position: relative;
    transform: skewX(30deg);
    background: -webkit-linear-gradient(left, #0f1d42,#2a95e3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #0f1d42,#2a95e3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0f1d42,#2a95e3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0f1d42,#2a95e3);
}
.center_box .c_title .r_bar {
	/* width: 200px; */
	/* width: 30%; */
    /* height: 10px; */
    margin-right: 4%;
    /* margin-top: 10px; */
    position: relative;
    transform: skewX(-30deg);
    background: -webkit-linear-gradient(left, #2a95e3,#0f1d42); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #2a95e3,#0f1d42); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#2a95e3,#0f1d42); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #2a95e3,#0f1d42);
}
.center_box #showTime {
	/* width: 300px; */
	/* margin: 0 auto; */
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}
.center_box #showTime #timeShow {
	color: #48d3fe;
	font-size: 24px;
}
.center_box #showTime #dateShow {
	color: #48d3fe;
}
.right_box {
	/* width: 320px; */
	width: 25%;
	height: 602px;
	/* margin-right: 5px; */
  	margin-top: 7px;
  	overflow: hidden;
   /* border: 1px solid red; */
}
.r_title {
    color: #4b6775;
    margin-top: 5px;
    margin-left: 10px;
	font-size: 14px;
	font-family: Microsoft yahei;
}
.right_box .r_table {
	height: 250px;
	width: 96%;
}
.right_box table {
    margin-top: 5px;
    border: 1px solid #060d15;
    margin: 5px;
}
th {
	width: 100px;
	height: 25px;
	 /* background-color: #33383c;  */
}
td {
	height: 20px;
	width: 100px;
	text-align: center;
	 /* background-color: #34373c;  */
}
tr:first-child{
	background-color: #33383c;
}
tr:nth-child(2n) td{
    background-color: #060d15;
}
tr:nth-child(2n+1) td{
	background-color: #33383c;
}
tr:hover {
	color: #fff;
}
.r_title2 {
	/* width: 321px; */
	width: 100%;
	height: 200px;
	margin-top: 25px;
	margin-left: 3px;
	/* border: 1px solid yellow; */
}
.alarm_message {
	text-align: center;
	color: #92b2c9;
	font-size: 16px;
}
.r_title2 ul {
	margin-top: 10px;
	text-align: center;
}
.r_title2 ul li {
	color: #697078;
	height: 20px;
	font-size: 12px;
}
